.green{
    background-color: green;
    width: 110px;
    font-size: 20px;
}
.blue{
    background-color: blue;
    width: 110px;
    font-size: 20px;
}
.red{
    background-color: red;
    width: 110px;
    font-size: 20px;
}
.purple{
    background-color: purple;
    width: 110px;
    font-size: 20px;
}
.orange{
    background-color: orange;
    width: 110px;
    font-size: 20px;
}